body {
  font-family: Arial, sans-serif;
  background-image: url('/img/wlpr.jpeg');
  background-size: cover;
  padding: 20px;
  margin: 0px;
}

#localVideoContainer,
#remoteVideoContainer {
  width: 620px;
  height: 240px;
  margin-bottom: 10px;
  border: 10px;
  color: black;
}

#controls {
  margin-top: 10px;
}

button {
  margin-right: 50px;
  width: 100px;
  height: 35px;
  color: chartreuse;
  background-color: blue;
  border-radius: 15px;
}

button:hover{
  background-color: rgb(5, 250, 5);
  color: white;
}

h1 {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.context{
  background: #e60505;
  color: black;
  margin-bottom: 0px;
  padding: 0px;
  margin: 0px;
}

